.box{
    width:450px;
    margin:50px auto;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 15px;
}
.img{
 width: 100%;
 height: fit-content;
 border-top-left-radius:15px ;
 border-top-right-radius: 15px;
}
.lock{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.text{
   padding: 0px 10px;

}
.heading{
    padding: 0px 20px;
}.btn{
    color: blue;
    padding: 10px 10px;
   background-color: white;
    border-radius: 9px;
    padding:15px;
    margin: 10px;
}